footer {
  width: auto;
  height: auto;
  position: relative;
  background-color: #1c2331;
  margin-top: 20%;
}
footer .social-container {
  position: relative;
  background-color: #2a2a2a;
}
footer img {
  width: 120px;
}

footer .social-container i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ed583d;
  background-color: #fff;
  line-height: 20px;
  text-align: center;
  border: 1px solid #fff;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  margin-bottom: 10px;
  font-size: 11px;
}

footer .social-container i:hover {
  transform: rotate(360deg);
}

footer .copy-right {
  font-size: 12px;
}
